extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='/orders' method='get')
    button(type='submit') Picking
    button(type='submit') Packing
  ul
    each item in list
      li #{item}
